<div class="edit-todo-wrapper container has-blurred-white-bg">

    <h2 class="is-bold">Edit Todo</h2>

    <p *ngIf="!todo">To do not found</p>
    <form #form="ngForm" (ngSubmit)="onFormSubmit(form)" *ngIf="todo">

        <div class="form-field">
            <input class="textbox" type="text" [ngModel]="todo.text" #textField="ngModel" name="text" placeholder="Enter todo text" required minlength="3">
            <ng-container *ngIf="textField.invalid">
                <p *ngIf="textField.errors.required">Please enter some text for this</p>
                <p *ngIf="textField.errors.minlength">The todo must be atleast 3 characters</p>
            </ng-container>
        </div>

        <div class="btns-container">
            <a routerLink="../" class="btn">Cancel</a>
            <button class="btn align-end">Save</button>
        </div>

    </form>
</div>