.notes-wrapper {
    height: 100px;
    overflow-y: auto;
}

.container {
    width: 800px;
    margin: auto;
}

.add-btn i {
    margin-right: 5px;
    margin-left: -3px;
}

app-note-card {
    display: block;
    margin-bottom: 15px;
}